.App {
  height: auto;
  min-height: 500px;
  width: 730px;
  margin: auto;
  border: 2px solid rgb(246, 215, 130);
}

/* rgb(47, 129, 183) */

.App-header {
  background-color: rgb(246, 215, 130);
  height: 50px;
  width: auto;
  margin: auto;
  padding: 20px;
  color: white;
  text-align: left;
  font-size: 40px;
}

.App-header > span {
  margin-left: 10px;
  color: silver;
  font-size: 15px;
}

.searchBarNormal {
  height: 140px;
  border-bottom: 2px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarNormal input {
  height: 37px;
  border: 1px solid rgb(246, 215, 130);
  width: 250px;
  font-size: 20px;
  margin-left: 20px;
}

.searchBarNormal label {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
input.checkbox {
  transform: scale(1.5);
}

input[type="checkbox"] {
  background-color: #5c97bf;
}

.searchBarNormal button {
  height: 40px;
  width: 60px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  padding-top: 0;
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
}

.item {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px 0 30px;
}

.critical {
  background-color: rgb(47, 129, 183);
}
.past {
  opacity: 0.5;
}

div.item > div {
  display: flex;
  align-items: center;
}
div.item p {
  margin-left: 5px;
}
div.item button {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: red;
  font-weight: bold;
}
.selectBox {
  height: 50px;
  width: 50px;
  background-color: green;
}

.itemContainer {
  display: flex;
  flex-direction: column;
}
